BODY {
	SCROLLBAR-FACE-COLOR: #808080; SCROLLBAR-HIGHLIGHT-COLOR: #b8b4b8; SCROLLBAR-SHADOW-COLOR: #b8b4b8; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #808088; SCROLLBAR-ARROW-COLOR: #c0bcc0; SCROLLBAR-TRACK-COLOR: #e0e0e0; SCROLLBAR-DARKSHADOW-COLOR: #808088; BACKGROUND-COLOR: #f3efef
}
.just {
	TEXT-ALIGN: justify
}
A:link {
	COLOR: #808080; TEXT-DECORATION: none
}
A:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
A:hover {
	COLOR: #808080; TEXT-DECORATION: underline
}
.categoria_artigo {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
.site_area {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.copyright {
	COLOR: #ffffff; BACKGROUND-COLOR: #000000
}
