//Resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon1.ico"



/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Charred Dirt: IT PUTS THE LOTION ON ITS SKIN!!"
            VALUE "CompanyName", "CharredDirt.com"
            VALUE "FileDescription", "Charred Dirt"
            VALUE "FileVersion", "1, 0, 0, 2"
            VALUE "InternalName", "cdirt"
            VALUE "LegalCopyright", "Copyright © 2003-2008 Sean White & Jesse Davis"
            VALUE "OriginalFilename", "cdirt.exe"
            VALUE "ProductName", "Charred Dirt"
            VALUE "ProductVersion", "1, 0, 0, 2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

//Resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "icon1.ico"



/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "Charred Dirt: IT PUTS THE LOTION ON ITS SKIN!!"
            VALUE "CompanyName", "CharredDirt.com"
            VALUE "FileDescription", "Charred Dirt"
            VALUE "FileVersion", "1, 0, 0, 2"
            VALUE "InternalName", "cdirt"
            VALUE "LegalCopyright", "Copyright © 2003-2004 Sean White & Jesse Davis"
            VALUE "OriginalFilename", "cdirt.exe"
            VALUE "ProductName", "Charred Dirt"
            VALUE "ProductVersion", "1, 0, 0, 2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


